.sectionWrapper {
  width: 100%;
  margin-bottom: 2rem;
  padding-top: 10vh;
}

.heading {
  font-size: 2rem;
  text-align: left;   /* full screen center */
  margin-bottom: 10px;
  margin-left: 3rem
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;   /* keep centered within page */
  padding: 0 1.5rem;

  min-height: 90vh; /* stretch container */
  align-items: center; /* vertical center for both */
}

.slideshow {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}
