.sidebar {
    position: sticky;
    top: 0;
    width: 200px;
    height: 90vh;          /* sticky takes 90% viewport height */
    padding: 2rem 1rem;
    background-color: #02101e;
    position: relative;
}

.sidebarInner {
    display: flex;
    flex-direction: column;
    justify-content: center; /* centers buttons vertically */
    height: 100%;            /* match height of sticky sidebar */
}

/* Border-right decoration */
.sidebar::after {
    content: "";
    position: absolute;
    top: 30%;
    right: 0;
    width: 1px;
    height: 40%;
    background-color: rgb(65, 123, 174);
}

.sidebar ul {
    list-style: none;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}

.sidebar li button {
    width: 100%;
    background: none; /* remove default button background */
    border: none;     /* remove default button border */
    color: white;     /* text color */
    text-align: right;
    cursor: pointer;
    font-size: 1rem;
    padding: 3px 0 3px 8px;
}

.sidebar li button:hover {
    color: rgb(65, 123, 174);
}

.active button {
    color: rgb(65, 123, 174);
    border-right: 4px solid rgb(65, 123, 174);
    padding-right: 8px;
}