.container {
    width: 100%;
    min-height: 90vh;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .section {
    position: relative;
    padding-bottom: 2rem;
  }

/* Bottom Border line */
.section::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 30%;
    width: 40%;
    height: 3px; /* Thickness of the border line */
    background-color: #417bae;
    border-radius: 5px;
  }

  .title {
    margin-bottom: 1rem;
    padding-left: 1rem;
    margin-left: 2rem;
    color: #417bae;
    border-left: 3px solid #417bae;
  }

  .textContent {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 2px solid #417bae;
    border-right: 2px solid #417bae;
    line-height: 1.6;
    font-size: 1rem;
  }
  