
/* {
    outline: 1px solid red; /* See all elements'  boundaries 
} 
*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Global Styles */
:root {
  --primary-color: #646cff;
  --text-color: #ffffff;
  --background-color: #02101e;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Works on Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 10px; /* width of the scrollbar */
  height: 10px; /* height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #0d1a26;
}

::-webkit-scrollbar-thumb {
  background: white; /* scrollbar handle color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1D242B; /* darker on hover */
}

/* Firefox scrollbar */
* {
  scrollbar-width: thin;
  scrollbar-color: white #0d1a26; /* thumb color | track color*/
}