.timelineContainer {
    width: 80%;
    margin: auto;
    padding: 60px 0;
    position: relative;
}

.titleContainer {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
}

.titleContainer h1 {
  font-size: 2rem;
  white-space: nowrap; /* prevents wrapping */
}

.timeline {
    position: relative;
    margin: auto;
    padding: 0;
}

.timeline::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 4px;
    background-color: #1b4c95;
    transform: translateX(-50%);
    opacity: 0.7;

    margin-top: -12px;
    margin-bottom: -60px;
}

.anchorPoint {
    position: absolute;    /* lets you control exact position */
    width: 6px;
    height: 6px;
    border-radius: 50%;    /* makes it a circle */
    background: red;       /* easy to see */
    z-index: 1000;         /* make sure it’s on top */
}